
<nb-card>
  
    
      <nb-card-body>
        <div class="card my-5">
          <div class="card-body">
            <table class="table table-bordered table-striped">
              <thead >
                <tr class="thead-dark">
                  <th><input type="text" id="name" placeholder="Company Name" title="companyname"></th>
                  <th><input type="text" id="site"  placeholder="Site Name" title="sitename"></th>
                  <th><input type="text" id="link" placeholder="Site Link" title="SiteLink"></th>
                  
                  <th><button type="submit">Add</button></th>
                  <th></th>
                </tr>
                <tr class="thead-dark" >
                  <th  class="thead-dark"scope="col">Company Name</th>
                  <th class="thead-dark" scope="col">Site Name</th>
                  <th  class="thead-dark"scope="col">Link</th>
                  <th >Delete</th>
                  <th >Update</th>
                </tr>
                <tr>
                  <th  class="thead-dark"scope="col">Company Name</th>
                  <th class="thead-dark" scope="col">Site Name</th>
                  <th  class="thead-dark"scope="col">Link</th>
                  <th><button type="submit" >Delete</button></th>
                  <th><button type="submit" >Update</button></th>
                </tr>
                

              </thead>
              
            </table>
          </div>
          </div>
      </nb-card-body>
</nb-card>
  